<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Edit the journal! </h1>
  <form action="/journals/<%= journal._id %>?_method=PUT" method="POST">
    <label>
      Name: 
      <input 
        type="text"
        name="name" 
        value="<%= journal.name %>" 
        autocomplete="off"
      >
    </label>
    <label>
      Interesting?
      <input 
        type="checkbox" 
        name="interesting" 
				<%= journal.interesting? "checked" : "" %> 
      >
    </label> -->
    <button type="submit">Edit the Journal</button>
  </form>
</section>

<%- include('../partials/footer') %>