<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/journals/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1> Journal Details</h1>
  <section>
      <div>Title:</div>
      <div><%=journal.title%></div>
      <div>Date:</div>
      <div><%=journal.date%></div>
      <div>Interesting:</div>
      <div> This journal is <%= journal.interesting ? 'interesting! 😋' : 'not interesting! 😫' %> </div>
        <% if (user) { %>
        <form action="/journals/<%= journal._id %>/flip-interesting?_method=PUT" method="POST">
          <button type="submit">
            Make journal <%= journal.interesting ? 'not interesting 🥺' : 'interesting 🎉' %>
          </button>
        </form>
        <% } %>
        <% if (journal.owner.equals(user?.profile._id)) { %>
          <p>
            <a class="link" href="/journals/<%= journal._id %>/edit">Edit this journal!</a>
          </p>
          <p>
            <form action="/journals/<%= journal._id %>?_method=DELETE" method="POST">
              <button type="submit">
                Delete this journal 💀
              </button>
            </form>
          </p>
        <% } %>

      <div>Comment: </div>
      <div><%=journal.comment%></div>

      <ul>
      <%let commEnt = [] %>
      <% journal.comments.forEach(comm => { %>
        <li>
          <%commEnt.push(comm.comment) = [] %>
          <%= comm.comment %>
        </li>
      <% }) %>
    </ul>
  </section>

  <!-- <h2>comments</h2> -->
  <form
  id="add-comment"
  action="/journals/<%= journal._id %>/comments"
  method="POST">
  <label for="CommtextEntry-input">CommtextEntry:</label>
  <input type="text" name="CommtextEntry" id="CommtextEntry-input" placeholder="Enter comment here">
  
  <button type="submit">Add to comment</button>
  </form>

  <h3>Add New Texts</h3>
  <form id = add-text-form action="/journals/<%= journal._id %>/texts" class="texts" method= "POST">
    <label for="entry">Journal Entry:</label>
    <input type="string" name="entry" placeholder="Enter text here" >
    <button type="submit">Add Text</button>
 
  </form>

  <% if (journal.texts.length) { %>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Journal Entry</th>
        </tr>
      </thead>
      <tbody>
       
        <% journal.texts.forEach(function(text) { %>
          <tr>
            <td><%= text.createdAt.toLocaleDateString() %></td>
            <td><%= text.entry %></td>
            <td><form action = "/journal._id%>/<%= text._id %> text._id %>?_method-DELETE"
            class="delete-form"
            method="POST>
          <button type="submit"></button>
          </form>
          </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Text Yet</h3>
  <% } %>
  <section>
    <p>From the Library of <%= journal.owner.name %>...</p>
    <h2><%= journal.name %> </h2>
    <h3>This journal is <%= journal.interesting ? 'interesting! 😋' : 'not interesting! 😫' %></h3>
    <% if (user) { %>
      <form action="/journals/<%= journal._id %>/flip-interesting?_method=PUT" method="POST">
        <button type="submit">
          Make journal <%= journal.interesting ? 'not interesting 🥺' : 'interesting 🎉' %>
        </button>
      </form>
    <% } %>
    <% if (journal.owner.equals(user?.profile._id)) { %>
      <p>
        <a class="link" href="/journals/<%= journal._id %>/edit">Edit this journal!</a>
      </p>
      <p>
        <form action="/journals/<%= journal._id %>?_method=DELETE" method="POST">
          <button type="submit">
            Delete this journal 💀
          </button>
        </form>
      </p>
    <% } %>
  </section>
  </main>

<%- include('../partials/footer') %>