<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/comments/new.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <p>Make some comments
    <select>
      <% comments.forEach(function(comment) { %> 
        <option><%= comment.CommtextEntry%> </option>
      <% }) %> 
    </select>
  </p>

  <form id="add-comment-form" action="/comments" method="POST">
    <label for="CommtextEntry-input">CommtextEntry:</label>
    <input type="text" name="CommtextEntry" id="CommtextEntry-input" placeholder="Enter comment here">
    <button type="submit">Add comment</button>

</form>
</main>

<%- include("../partials/footer") %> 